<!doctype html>
<html ng-app="Applicacion">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Untitled</title>
        <style>

        </style>
        <script src="angular.min.js"></script>
    </head>
    <body>
        <div ng-controller="Controlador_1">
        	<h1>Promocio de Mangos!</h1>
        	<h2>{{Precio | currency }} cada uno</h2>
        	<label>Cantidad de mangos:</label>
        	<input type="text" ng-model="Cantidad">
        	<br>
        	<p>Precio Total: {{ (Cantidad)*(Precio) | currency}}</p>
        </div>
        <div ng-controller="Controlador_2">
        	<h1>Promocio de Manzanas!</h1>
        	<h2>{{Precio | currency }} cada uno</h2>
        	<label>Cantidad de mangos:</label>
        	<input type="text" ng-model="Cantidad">
        	<br>
        	<p>Precio Total: {{ (Cantidad)*(Precio) | currency }}</p>
        </div>
        <div ng-controller="Controlador_3">
        	<h1>Lista Articulos</h1>
        	<br>
        	<ul>
        		<li ng-repeat=" Articulos in Articulos "> {{	Articulos	}}		</li>
        		<hr>
        		<li ng-repeat=" Articulos in Descripcion ">	{{	Articulos.Nombre	}}	: {{	Articulos.Precio	}}	</li>
        	</ul>
        </div>
        <div ng-controller="Controlador_4">
        	<button ng-click="Click_Simple()">Boton 1</button>
        	<button ng-dblclick="Click_Doubles()">Boton 2</button>
        	<p>		{{Evento}}	</p>
        </div>
        <script>
        	var Aplicacion = angular.module('Applicacion',[]);
        	Aplicacion.controller('Controlador_1',['$scope',function($scope){
        		$scope.Cantidad 	=	0;
        		$scope.Precio 		=	2.15;
        	}]);
        	Aplicacion.controller('Controlador_2',['$scope',function($scope){
        		$scope.Cantidad 	=	0;
        		$scope.Precio 		=	5.15;
        	}]);
        	Aplicacion.controller('Controlador_3',['$scope',function($scope){
        		$scope.Articulos 				=	['Manzanas','Peraz','Tunas','Naranjas'];
        		$scope.Descripcion 	 		=	[
        															{Nombre:'Manzanas', Precio:3.10},
        															{Nombre:'Peraz', Precio:1.10},
        															{Nombre:'Tunas', Precio:2.50},
        															{Nombre:'Naranjas', Precio:4.50},
        															];
        	}]);
        	Aplicacion.controller('Controlador_4',['$scope',function($scope){
        		$scope.Click_Simple = function(){
        			$scope.Evento = "Simple Click";
        		};
        		$scope.Click_Doubles = function(){
        			$scope.Evento = "Doble Click";
        		};
        	}]);
        </script>
    </body>
</html>